@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
font-family:Mulish, sans-serif;
font-size: 30px;
}

header{
width: 1440px;
height: 109px;
background-color: #ececec;
margin: auto;
}

main{
    width: 1440px;
    min-height: 600px;
    margin: auto;
}

footer{
    width: 1440px;
    height: 102px;
    background-color: #D9D9D9;
}
